<div id="homepage" style="margin-top:50px;margin-bottom:50px;" >

<facebook-twitter-googleplus-small></facebook-twitter-googleplus-small>


      <div  class=" how-it-works"  >
        <div id="how" class="section radius panel small-12 columns" >
          <div style="text-align:center">
          <span style="font-family: 'Jolly Lodger', cursive;font-size: 150px;font-weight: bold;color:#339BB9">Moodle</span>
          <span style="font-family: 'Jolly Lodger', cursive;font-size: 150px;font-weight: bold;color:#A92A33">Board</span>
          </div>
          <h3>
             
            <span class="">makes it easy for you to:
            </span>

          </h3>
          <div id="howitworks">
            <a href="app#!/all/happenings">
            <div class="small-6 columns subsection">
              <h4>1. Pick a time and place</h4>
              <div class="info">
                <h6>
                  On a single page, you can provide a range of date / time options for people to choose from
                </h6>
                <div class="icons">
                  <img src="/assets/icons/levers.png" alt="Checklist" />      
                </div>
              </div>
            </div>
            </a>
            <a href="app#!/new/quick_plan">
            <div class="small-6 columns subsection">
              <h4>2. Moodle over other options</h4>
              <div class="info">
                <h6>
                  Once 
                </h6>
                <div class="icons">
                  <img src="/assets/icons/checklist.png" alt="Phone" />      
                </div>
              </div>
            </div>
            </a>
<!--             <div class="small-3 columns subsection">
              <h4>3. Share</h4>
              <div class="info">
                <p>
                  Share events and places you like and learn from the experiences other people have had.
                </p>
                <div class="icons">
                  <img src="/assets/icons/people.png" alt="People" />      
                </div>
              </div>
            </div> -->
            <div class="clear"></div>
          </div>
        </div>
      </div>
</div>


<style type="text/css">

.radius.panel.how-it-works {
/*    opacity:0.6;
  filter:alpha(opacity=60);  For IE8 and earlier 
  margin-bottom: 50px;
  margin-top: 100px;*/
}
#homepage {
/*  height: 350px;*/
}

#homepage .emphasis {
  color: #00BDFF;
}

#homepage .section h3 {
  text-align: center;
  font-size: 30px;
/*  margin: 70px 0 30px 0;
*/  font-weight: bold;
}



#homepage .subsection {
  float: left;
 /* width: 33%;*/
}

#homepage .subsection .info {
  border-left: 1px solid #e3e3e3;
  padding: 0 33px 0 33px;
}

#homepage .subsection:first-child .info {
  border-left: none;
}

#homepage .subsection h4 {
  color: #00bdff;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin: 0 35px 8px 35px;
}

#homepage .subsection p {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 14px;
}

#homepage .subsection .icons {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
}

#homepage .subsection .icons img {
  margin: 0 auto;
  text-align: center;
}



#howitworks p {
    margin-bottom:0;
}


</style>