	<div class="row">
		<div class="span12">
			<h5>A standard open API server for managing data about happenings / events ( concerts, sports events etc ) worldwide.
			</h5>
			<p>
				This server is an instance of "The Happenings Project", an open source project hosted on github.
				Find out more about it here:
				<a href="https://github.com/etewiah/happenings-project/wiki/_pages">https://github.com/etewiah/happenings-project/wiki/_pages</a>
			</p>

		</div>
	</div>